# <div align="center">Programa Nacional de Vigilância em Saúde em Navios de Cruzeiro</div>

<div align="center"><img src="https://i.imgur.com/FkLJ24t.png"></div>

A análise visa responder algumas perguntas sobre inspeção de navios de cruzeiro que faz parte do **Programa Nacional de Vigilância Sanitária para Navios de Cruzeiro** realizado pela **Anvisa** no perído de outubro até o mês de abril do ano subsquente. O objetivo deste programa é avaliar a segurança sanitária dos alimentos e da água para consumo nas embarcações além de acompanhar o Plano de Limpeza e Desinfecção nas instalações e áreas internas dos navios reforçando a prevenção de surtos de doenças no decorrer das viagens.

A Anvisa classifica os navios em níveis:

|Nível |Pontuação de Risco | Categoria |
|:---:|:---:|:---:|
| A | 0-150 | Excelente|
| B | 151-300 | Satisfatório|
| C | 301-450 | Aceitável|
| D | 450-... | Insatisfatório|

<br>

Nesta análise são mostradas as características de **selecão, ordenamento e filtragem** da linguagem **SQL**

**Dataset em formato .CSV está disponível:**
- [Anvisa](https://dados.anvisa.gov.br/dados/DADOS_ABERTOS_INSPECAO_NAVIO.csv)
- [Projeto](./DADOS_ABERTOS_INSPECAO_NAVIO.csv).

**Dicionário de dados em formato .PDF está disponível**
- [Anvisa](https://dados.anvisa.gov.br/dados/Documentacao_e_Dicionario_de_Dados_Navios_Cruzeiro.pdf)
- [Projeto](./Documentacao_e_Dicionario_de_Dados_Navios_Cruzeiro.pdf)

<hr>

## <a name="indice"></a> ÍNDICE

**Obs**: direcionamento do índice apenas quando este notebook é executado pelo Jupyter Notebook.

- [Preparação do Ambiente](#Preparação_Ambiente)
- [Análise](#analise)
    1. [Total de Embarcações Distintas](#1)
    2. [Número Total de Inspeções](#2)
    3. [Quais embarcações e quando ocorreu determinada classificação de risco para uma embarcação](#3)
    4. [Navios com avaliação de qualidade máxima](#4)
    5. [As 10 piores ocorrências de inspeção](#5)
    6. [Meios: Navios com padrões B e C e pontuação de risco no range de 151 a 450](#6)
    7. [Extremos: Navios com padrões A e D e pontuação de risco FORA do range de 151 a 450](#7)
    8. [COVID-19: Embarcações com iniciais A e B, índice de conformidade B ou C e conformidade <= 90% antes da pandemia](#8)

<hr>

## <a name="Preparação_Ambiente"></a> Preparação do Ambiente

In [ ]:
%pip install sqlalchemy
%pip install ipython-sql

In [ ]:
# Bibliotecas
from sqlalchemy import create_engine
import sqlite3
import csv

# Conexão SQLite3: cria o banco de dados anvisa.db
conexao = sqlite3.connect("anvisa.db")
cursor = conexao.cursor()

# Conexão ipython-sql - execução SQL em tempo de execução
%reload_ext sql
%sql sqlite+pysqlite:///anvisa.db

In [ ]:
%%sql

/*Criação e estrutura da tabela tb_navios*/

CREATE TABLE IF NOT EXISTS tb_navios(
  nome_navio VARCHAR(50) NULL,
  mes_ano VARCHAR(10) NULL,
  classificacao_risco VARCHAR(15) NULL,
  indice_conformidade VARCHAR(15) NULL,
  pontuacao_risco INT NULL,
  temporada VARCHAR(256) NULL);

In [ ]:
# Extração dos dados e inserção na tabela tb_navios

with open("./DADOS_ABERTOS_INSPECAO_NAVIO.csv","r") as dataset:
    anvisa_dataset = csv.reader(dataset, delimiter=";")
    cursor.executemany("Insert into tb_navios values (?, ?, ?, ?, ?, ?)", anvisa_dataset)
    conexao.commit()

<hr>

## <a name="analise"></a> Análise

1 - Inicialmente podemos contabilizar quantas embarcações diferentes foram inspecionadas ao longo de todo registro de inspeções. Em todo o período, **132 embarcações distintas passaram pela inspeção.**

[Voltar ao início](#indice)

In [40]:
%%sql 

SELECT 
    COUNT(DISTINCT nome_navio) AS 'Quantidade de Navios Inspecionados'
FROM
    tb_navios;

 * sqlite+pysqlite:///anvisa.db
Done.

[(132,)]

2. Contabilizar o **número total de inspeções ao longo do período**. No total foram **463 inspeções**.

[Voltar ao início](#indice)

In [41]:
%%sql

SELECT 
    COUNT(*) AS 'Quantidade Total de Inspeções'
FROM
    tb_navios;

 * sqlite+pysqlite:///anvisa.db
Done.

[(463,)]

3. Neste dataset, várias embarcações foram inspecionadas mais de uma vez. **Podemos saber quais navios, pelo menos uma vez, receberam uma determinada classificação de risco e quando isso ocorreu.**

[Voltar ao início](#indice)

In [43]:
%%sql

SELECT DISTINCT
    nome_navio AS 'Nome do Navio',
    classificacao_risco AS 'Classificação de Risco',
    mes_ano AS 'Data da Inspeção'
FROM
    tb_navios
WHERE
    classificacao_risco = 'A'
ORDER BY nome_navio ASC , mes_ano DESC
LIMIT 20;

 * sqlite+pysqlite:///anvisa.db
Done.

[('ADONIA', 'A', '12/2017'),
 ('ADONIA', 'A', '03/2016'),
 ('ADONIA', 'A', '02/2012'),
 ('ADONIA', 'A', '01/2013'),
 ('AIDA AURA', 'A', '11/2019'),
 ('AIDA CARA', 'A', '11/2011'),
 ('AIDA CARA', 'A', '03/2014'),
 ('AIDA CARA', 'A', '02/2012'),
 ('AIDA VITA', 'A', '12/2012'),
 ('AIDA VITA', 'A', '06/2011'),
 ('AIDA VITA', 'A', '03/2012'),
 ('AIDA VITA', 'A', '02/2013'),
 ('AIDA VITA', 'A', '02/2012'),
 ('ALBATROS', 'A', '01/2018'),
 ('ALBATROS', 'A', '01/2014'),
 ('AMADEA', 'A', '01/2020'),
 ('AMERA (PRINSENDAM)', 'A', '12/2013'),
 ('AMERA (PRINSENDAM)', 'A', '12/2012'),
 ('AMERA (PRINSENDAM)', 'A', '12/2011'),
 ('AMERA (PRINSENDAM)', 'A', '11/2018')]

4. **Quais ocasiões as embarcações conseguiram alcançar os requisitos plenos da Anvisa, ou seja, índice de conformidade de 100% e pontuação de risco 0 pelo menos uma vez.** Como os resultados de índice e pontuação serão idênticos, podemos ordenar pelo nome do navio na ordem A-Z (ou crescente) e a data de ocorrência da inspeção. Neste caso **nenhum navio conseguiu tal feito**.

[Voltar ao início](#indice)

In [46]:
%%sql
SELECT 
    nome_navio AS 'Nome do Navio',
    indice_conformidade AS 'Índice de Conformidade',
    pontuacao_risco AS 'Pontuação de Risco',
    mes_ano AS 'Data da Inspeção'
FROM
    tb_navios
WHERE
    indice_conformidade = 100
        AND pontuacao_risco = 0
ORDER BY mes_ano ASC, nome_navio ASC;

 * sqlite+pysqlite:///anvisa.db
Done.

[]

5. **Embarcações com os piores indicadores?** Selecionamos os 10 piores resultados da classificaçao D (acima de 450 pontos) juntamente com a data da ocorrência.

[Voltar ao início](#indice)

In [47]:
%%sql

SELECT DISTINCT
    nome_navio AS 'Nome do Navio',
    pontuacao_risco AS 'Pontuação de Risco',
    mes_ano AS 'Data da Inspeção'
FROM
    tb_navios
WHERE
    pontuacao_risco > 450
ORDER BY pontuacao_risco DESC
LIMIT 10;

 * sqlite+pysqlite:///anvisa.db
Done.

[('SEA EXPLORER', 1230, '03/2014'),
 ('STAR PRINCESS', 1115, '01/2012'),
 ('ORIENT QUEEN II', 1065, '12/2013'),
 ('SOVEREIGN (SOBERANO)', 1035, '12/2012'),
 ('OCEAN DREAM', 964, '10/2011'),
 ('SEVEN SEAS MARINER', 875, '03/2011'),
 ('MIDNATSOL', 831, '10/2016'),
 ('CRYSTAL SERENITY', 830, '03/2013'),
 ('MSC MUSICA', 805, '03/2012'),
 ('MAASDAM', 790, '02/2013')]

6. Ao retornar valores em um intervalo determinado podemos **selecionar as embarcações que receberam padrões B e C pelo menos uma vez retornando um range de 151 até 450 pontos de risco** que correspondem a tais classificações.

[Voltar ao início](#indice)

In [48]:
%%sql

SELECT 
    nome_navio AS 'Nome do Navio',
    pontuacao_risco AS 'Pontuação de Risco',
    mes_ano AS 'Data da Inspeção'
FROM
    tb_navios
WHERE
    pontuacao_risco BETWEEN 151 AND 450
ORDER BY nome_navio ASC , mes_ano DESC;

 * sqlite+pysqlite:///anvisa.db
Done.

[('AIDA AURA', 160, '10/2018'),
 ('AIDA CARA', 360, '12/2010'),
 ('AIDA CARA', 310, '11/2013'),
 ('AIDA CARA', 260, '11/2012'),
 ('AIDA CARA', 255, '10/2017'),
 ('AIDA VITA', 195, '10/2010'),
 ('AMADEA', 231, '11/2012'),
 ('AMADEA', 430, '02/2017'),
 ('AMADEA', 240, '01/2016'),
 ('AMERA (PRINSENDAM)', 200, '12/2015'),
 ('AMERA (PRINSENDAM)', 185, '12/2014'),
 ('AMERA (PRINSENDAM)', 285, '03/2020'),
 ('ARCADIA', 290, '01/2016'),
 ('ARTANIA', 325, '04/2019'),
 ('AURORA', 430, '01/2011'),
 ('AUSTRAL', 270, '03/2013'),
 ('AZAMARA JOURNEY', 160, '11/2011'),
 ('AZAMARA PURSUIT', 200, '12/2019'),
 ('AZAMARA QUEST', 450, '02/2013'),
 ('BALMORAL', 408, '03/2012'),
 ('BALMORAL', 205, '02/2016'),
 ('BALMORAL', 170, '01/2020'),
 ('BLACK WATCH', 400, '01/2014'),
 ('BLEU DE FRANCE', 360, '04/2011'),
 ('BRAEMAR', 399, '02/2012'),
 ('CELEBRITY ECLIPSE', 232, '02/2020'),
 ('CELEBRITY INFINITY', 170, '02/2018'),
 ('CELEBRITY INFINITY', 365, '02/2016'),
 ('COLUMBUS 2', 354, '12/2013'),
 ('CORAL PRINCESS', 175, '12/2019'),
 ('COSTA FASCINOSA', 255, '12/2019'),
 ('COSTA FAVOLOSA', 155, '12/2018'),
 ('COSTA FAVOLOSA', 342, '12/2012'),
 ('COSTA FORTUNA', 205, '12/2012'),
 ('COSTA FORTUNA', 265, '12/2011'),
 ('COSTA FORTUNA', 325, '12/2010'),
 ('COSTA FORTUNA', 290, '03/2013'),
 ('COSTA LUMINOSA', 160, '01/2016'),
 ('COSTA MAGICA', 268, '12/2011'),
 ('COSTA PACIFICA', 320, '12/2011'),
 ('COSTA PACIFICA', 160, '03/2012'),
 ('COSTA SERENA', 220, '12/2012'),
 ('COSTA SERENA', 315, '12/2010'),
 ('COSTA SERENA', 240, '03/2011'),
 ('CROWN PRINCESS', 395, '03/2017'),
 ('CROWN PRINCESS', 245, '02/2014'),
 ('CRYSTAL SERENITY', 195, '03/2017'),
 ('CRYSTAL SYMPHONY', 190, '12/2013'),
 ('CRYSTAL SYMPHONY', 245, '01/2016'),
 ('DELPHIN', 225, '12/2013'),
 ('DISCOVERY', 170, '01/2011'),
 ('EMPRESS (IMPERATRIZ)', 215, '12/2010'),
 ('EMPRESS (IMPERATRIZ)', 155, '11/2014'),
 ('GOLDEN PRINCESS', 440, '01/2014'),
 ('GRAND CELEBRATION', 435, '11/2011'),
 ('GRAND CELEBRATION', 230, '02/2014'),
 ('GRAND CELEBRATION', 395, '02/2012'),
 ('GRAND HOLIDAY', 195, '11/2012'),
 ('GRAND HOLIDAY', 170, '02/2013'),
 ('GRAND HOLIDAY', 170, '02/2012'),
 ('GRAND MISTRAL', 285, '11/2010'),
 ('GRAND MISTRAL', 410, '02/2012'),
 ('GRAND MISTRAL', 400, '01/2013'),
 ('GRAND PRINCESS', 360, '02/2013'),
 ('HAMBURG', 290, '12/2018'),
 ('HAMBURG', 360, '12/2016'),
 ('HORIZON (PACIFIC DRE', 310, '12/2010'),
 ('INSIGNIA', 170, '12/2011'),
 ('ISLAND PRINCESS', 265, '02/2020'),
 ('LAUSTRAL', 375, '03/2016'),
 ('LE CHAMPLAIN', 360, '11/2018'),
 ('MARCO POLO', 160, '01/2019'),
 ('MARINA', 165, '12/2016'),
 ('MARINA', 285, '12/2012'),
 ('MARINER OF THE SEAS', 360, '02/2011'),
 ('MINERVA', 195, '02/2014'),
 ('MONARCH', 213, '06/2014'),
 ('MSC ARMONIA', 290, '10/2010'),
 ('MSC ARMONIA', 350, '02/2012'),
 ('MSC ARMONIA', 290, '01/2011'),
 ('MSC FANTASIA', 270, '11/2019'),
 ('MSC LIRICA', 235, '12/2015'),
 ('MSC LIRICA', 225, '11/2010'),
 ('MSC MAGNIFICA', 190, '12/2013'),
 ('MSC MAGNIFICA', 205, '11/2012'),
 ('MSC MUSICA', 275, '03/2011'),
 ('MSC OPERA', 265, '11/2011'),
 ('MSC OPERA', 225, '03/2011'),
 ('MSC ORCHESTRA', 210, '12/2012'),
 ('MSC ORCHESTRA', 185, '11/2018'),
 ('MSC ORCHESTRA', 170, '11/2013'),
 ('MSC ORCHESTRA', 300, '11/2011'),
 ('MSC ORCHESTRA', 245, '03/2012'),
 ('MSC POESIA', 215, '11/2018'),
 ('MSC POESIA', 205, '10/2015'),
 ('MSC SEAVIEW', 270, '12/2018'),
 ('MSC SINFONIA', 210, '01/2020'),
 ('NORWEGIAN SUN', 170, '04/2017'),
 ('OCEAN DREAM', 244, '11/2011'),
 ('OCEAN DREAM', 188, '03/2012'),
 ('OCEAN DREAM', 205, '02/2019'),
 ('OCEAN DREAM', 205, '01/2017'),
 ('PACIFIC PRINCESS', 370, '01/2011'),
 ('QUEEN MARY II', 225, '02/2016'),
 ('QUEEN VICTORIA', 185, '02/2020'),
 ('QUEEN VICTORIA', 205, '02/2017'),
 ('QUEEN VICTORIA', 430, '01/2014'),
 ('REGATTA', 180, '03/2013'),
 ('REGATTA', 420, '02/2013'),
 ('SAGA PEARL II', 390, '03/2016'),
 ('SEA ADVENTURER', 244, '04/2012'),
 ('SEA DREAM II', 220, '02/2012'),
 ('SEABOURN QUEST', 165, '11/2014'),
 ('SEABOURN QUEST', 185, '03/2019'),
 ('SEVEN SEAS EXPLORER', 260, '01/2019'),
 ('SEVEN SEAS MARINER', 270, '12/2013'),
 ('SEVEN SEAS MARINER', 250, '11/2012'),
 ('SEVEN SEAS MARINER', 365, '03/2016'),
 ('SEVEN SEAS MARINER', 225, '02/2012'),
 ('SEVEN SEAS NAVIGATOR', 205, '12/2015'),
 ('SEVEN SEAS NAVIGATOR', 405, '04/2018'),
 ('SILVER SHADOW', 190, '02/2015'),
 ('SILVER SPIRIT', 275, '02/2016'),
 ('SILVER SPIRIT', 248, '02/2012'),
 ('SILVER WHISPER', 170, '12/2015'),
 ('SILVER WHISPER', 160, '12/2014'),
 ('SILVER WHISPER', 190, '11/2018'),
 ('SILVER WHISPER', 305, '11/2011'),
 ('SOVEREIGN (SOBERANO)', 360, '12/2018'),
 ('SOVEREIGN (SOBERANO)', 280, '12/2017'),
 ('SOVEREIGN (SOBERANO)', 375, '12/2011'),
 ('SOVEREIGN (SOBERANO)', 230, '11/2013'),
 ('SOVEREIGN (SOBERANO)', 180, '03/2013'),
 ('SOVEREIGN (SOBERANO)', 360, '02/2011'),
 ('SOVEREIGN (SOBERANO)', 275, '01/2012'),
 ('SPLENDOUR OF THE SEA', 415, '12/2012'),
 ('SPLENDOUR OF THE SEA', 435, '12/2010'),
 ('SPLENDOUR OF THE SEA', 265, '03/2014'),
 ('SPLENDOUR OF THE SEA', 360, '03/2012'),
 ('SPLENDOUR OF THE SEA', 190, '03/2011'),
 ('STAR PRINCESS', 380, '12/2010'),
 ('VEENDAM', 375, '03/2011'),
 ('VIKING SUN', 235, '01/2019'),
 ('VISION OF THE SEAS', 450, '12/2010'),
 ('VISION OF THE SEAS', 360, '03/2011'),
 ('ZAANDAM', 395, '11/2019'),
 ('ZAANDAM', 210, '11/2018'),
 ('ZAANDAM', 200, '11/2017'),
 ('ZENITH', 260, '12/2013'),
 ('ZENITH', 255, '12/2012'),
 ('ZENITH', 415, '12/2011'),
 ('ZENITH', 235, '01/2013')]

7. **O inverso também se aplica caso não necessitemos que determinado grupo seja selecionado**. Agora vamos retornar apenas os navios que já estiveram no padrão A ou D

[Voltar ao início](#indice)

In [50]:
%%sql

SELECT 
    nome_navio AS 'Nome do Navio',
    pontuacao_risco AS 'Pontuação de Risco',
    mes_ano AS 'Data da Inspeção'
FROM
    tb_navios
WHERE
    pontuacao_risco NOT BETWEEN 151 AND 450
ORDER BY pontuacao_risco , nome_navio , mes_ano ASC;

 * sqlite+pysqlite:///anvisa.db
Done.

[('ADONIA', 0, '01/2013'),
 ('ADONIA', 0, '03/2016'),
 ('ADONIA', 0, '12/2017'),
 ('AIDA CARA', 0, '02/2012'),
 ('AIDA VITA', 0, '02/2012'),
 ('AIDA VITA', 0, '02/2013'),
 ('AIDA VITA', 0, '03/2012'),
 ('AIDA VITA', 0, '06/2011'),
 ('AIDA VITA', 0, '12/2012'),
 ('ALBATROS', 0, '01/2014'),
 ('ALBATROS', 0, '01/2018'),
 ('AMADEA', 0, '01/2020'),
 ('AMERA (PRINSENDAM)', 0, '02/2018'),
 ('AMERA (PRINSENDAM)', 0, '03/2017'),
 ('AMERA (PRINSENDAM)', 0, '11/2018'),
 ('AMERA (PRINSENDAM)', 0, '12/2013'),
 ('ARCADIA', 0, '01/2013'),
 ('ARTANIA', 0, '01/2015'),
 ('ASTORIA', 0, '09/2017'),
 ('AURORA', 0, '01/2015'),
 ('AURORA', 0, '01/2019'),
 ('BOUDICCA', 0, '01/2013'),
 ('BOUDICCA', 0, '04/2014'),
 ('BRAEMAR', 0, '01/2019'),
 ('BRAEMAR', 0, '02/2016'),
 ('BRAEMAR', 0, '02/2017'),
 ('BRAEMAR', 0, '02/2018'),
 ('BREMEN', 0, '03/2015'),
 ('BREMEN', 0, '04/2012'),
 ('BREMEN', 0, '04/2016'),
 ('BREMEN', 0, '04/2018'),
 ('BREMEN', 0, '05/2014'),
 ('CELEBRITY ECLIPSE', 0, '02/2019'),
 ('CLUB MED 2', 0, '01/2014'),
 ('COSTA FASCINOSA', 0, '03/2014'),
 ('COSTA FASCINOSA', 0, '12/2013'),
 ('COSTA FASCINOSA', 0, '12/2015'),
 ('COSTA FAVOLOSA', 0, '03/2014'),
 ('COSTA FAVOLOSA', 0, '12/2014'),
 ('COSTA FORTUNA', 0, '03/2012'),
 ('COSTA LUMINOSA', 0, '01/2019'),
 ('COSTA PACIFICA', 0, '12/2014'),
 ('COSTA VITORIA', 0, '02/2012'),
 ('CRYSTAL SERENITY', 0, '04/2015'),
 ('CRYSTAL SERENITY', 0, '11/2017'),
 ('EMPRESS (IMPERATRIZ)', 0, '03/2012'),
 ('EMPRESS (IMPERATRIZ)', 0, '03/2013'),
 ('EMPRESS (IMPERATRIZ)', 0, '11/2013'),
 ('GOLDEN PRINCESS', 0, '01/2015'),
 ('GRAND CELEBRATION', 0, '02/2013'),
 ('GRAND MISTRAL', 0, '10/2011'),
 ('HAMBURG', 0, '01/2015'),
 ('HAMBURG', 0, '01/2018'),
 ('HANSEATIC', 0, '04/2011'),
 ('HANSEATIC', 0, '04/2015'),
 ('HANSEATIC', 0, '04/2017'),
 ('INSIGNIA', 0, '01/2016'),
 ('INSIGNIA', 0, '01/2018'),
 ('INSIGNIA', 0, '11/2016'),
 ('INSIGNIA', 0, '12/2019'),
 ('LE LEVANT', 0, '02/2011'),
 ('LE LYRIAL', 0, '03/2016'),
 ('LE LYRIAL', 0, '10/2018'),
 ('MAASDAM', 0, '02/2014'),
 ('MAGELLAN', 0, '01/2018'),
 ('MAGELLAN', 0, '01/2020'),
 ('MAGELLAN', 0, '02/2016'),
 ('MARCO POLO', 0, '01/2012'),
 ('MARCO POLO', 0, '01/2015'),
 ('MARCO POLO', 0, '01/2017'),
 ('MARCO POLO', 0, '12/2010'),
 ('MARINA', 0, '12/2015'),
 ('MSC LIRICA', 0, '02/2011'),
 ('MSC MAGNIFICA', 0, '01/2020'),
 ('MSC MAGNIFICA', 0, '12/2014'),
 ('MSC MAGNIFICA', 0, '12/2017'),
 ('MSC MUSICA', 0, '12/2012'),
 ('MSC ORCHESTRA', 0, '11/2016'),
 ('MSC POESIA', 0, '02/2014'),
 ('MSC POESIA', 0, '11/2013'),
 ('MSC POESIA', 0, '11/2017'),
 ('MSC POESIA', 0, '12/2014'),
 ('MSC PREZIOSA', 0, '02/2018'),
 ('MSC PREZIOSA', 0, '03/2014'),
 ('MSC PREZIOSA', 0, '12/2013'),
 ('MSC SEAVIEW', 0, '12/2019'),
 ('NATIONAL GEOGRAPHIC ', 0, '10/2013'),
 ('OCEAN DREAM', 0, '02/2016'),
 ('OCEAN DREAM', 0, '08/2014'),
 ('ORIANA', 0, '02/2017'),
 ('PACIFIC PRINCESS', 0, '01/2014'),
 ('REGATTA', 0, '02/2017'),
 ('REGATTA', 0, '03/2015'),
 ('REGATTA', 0, '11/2011'),
 ('REGATTA', 0, '11/2013'),
 ('REGATTA', 0, '12/2015'),
 ('ROYAL PRINCESS', 0, '02/2019'),
 ('SEA DREAM II', 0, '02/2013'),
 ('SEABOURN QUEST', 0, '01/2012'),
 ('SEABOURN QUEST', 0, '05/2016'),
 ('SEABOURN SOJOURN', 0, '01/2018'),
 ('SEVEN SEAS MARINER', 0, '03/2013'),
 ('SEVEN SEAS MARINER', 0, '04/2015'),
 ('SEVEN SEAS MARINER', 0, '11/2017'),
 ('SEVEN SEAS NAVIGATOR', 0, '06/2017'),
 ('SEVEN SEAS NAVIGATOR', 0, '12/2012'),
 ('SEVEN SEAS NAVIGATOR', 0, '12/2013'),
 ('SEVEN SEAS NAVIGATOR', 0, '12/2018'),
 ('SILVER CLOUD', 0, '02/2014'),
 ('SILVER CLOUD', 0, '02/2015'),
 ('SILVER CLOUD', 0, '11/2011'),
 ('SILVER CLOUD', 0, '12/2012'),
 ('SILVER SPIRIT', 0, '01/2014'),
 ('SILVER SPIRIT', 0, '12/2016'),
 ('SILVER WHISPER', 0, '11/2017'),
 ('SIRENA', 0, '11/2016'),
 ('SOVEREIGN (SOBERANO)', 0, '03/2012'),
 ('SPLENDOUR OF THE SEA', 0, '01/2015'),
 ('THE WORLD', 0, '02/2016'),
 ('THE WORLD', 0, '02/2018'),
 ('THE WORLD', 0, '11/2010'),
 ('VIKING JUPITER', 0, '11/2019'),
 ('VIKING SEA', 0, '01/2020'),
 ('VIKING SEA', 0, '12/2017'),
 ('VIKING SEA', 0, '12/2018'),
 ('VIKING SKY', 0, '02/2018'),
 ('VIKING SUN', 0, '11/2019'),
 ('VISTAMAR', 0, '01/2012'),
 ('VOLENDAM', 0, '11/2019'),
 ('ZENITH', 0, '03/2014'),
 ('ZENITH', 0, '12/2014'),
 ('SEVEN SEAS MARINER', 5, '12/2019'),
 ('COSTA MAGICA', 8, '03/2012'),
 ('CELEBRITY INFINITY', 10, '02/2017'),
 ('COSTA VITORIA', 10, '02/2011'),
 ('SEVEN SEAS MARINER', 15, '03/2017'),
 ('SIRENA', 18, '02/2019'),
 ('COSTA DELIZIOSA', 20, '01/2015'),
 ('COSTA FASCINOSA', 20, '01/2017'),
 ('MARCO POLO', 20, '01/2014'),
 ('MSC MUSICA', 20, '02/2013'),
 ('MSC MUSICA', 20, '12/2011'),
 ('SILVER WHISPER', 20, '01/2020'),
 ('MSC MUSICA', 25, '11/2017'),
 ('FRAM', 27, '03/2017'),
 ('WORLD ODYSSEY', 27, '11/2016'),
 ('AIDA CARA', 30, '11/2011'),
 ('COSTA FAVOLOSA', 30, '01/2013'),
 ('EMPRESS (IMPERATRIZ)', 30, '12/2012'),
 ('EUROPA 2', 30, '02/2015'),
 ('GRAND HOLIDAY', 30, '03/2011'),
 ('MSC ARMONIA', 30, '04/2012'),
 ('SEABOURN SOJOURN', 30, '03/2013'),
 ('SPLENDOUR OF THE SEA', 30, '03/2013'),
 ('VEENDAM', 30, '02/2012'),
 ('OCEAN DREAM', 32, '01/2012'),
 ('SOVEREIGN (SOBERANO)', 35, '12/2019'),
 ('EXPLORER', 36, '02/2011'),
 ('EXPLORER', 40, '11/2013'),
 ('MSC PREZIOSA', 40, '01/2015'),
 ('PRINCESS DANAE', 40, '02/2011'),
 ('MSC FANTASIA', 42, '12/2012'),
 ('ADONIA', 44, '02/2012'),
 ('BLACK WATCH', 45, '01/2015'),
 ('COSTA FAVOLOSA', 45, '12/2013'),
 ('MAASDAM', 45, '02/2015'),
 ('MSC FANTASIA', 45, '02/2013'),
 ('MSC MUSICA', 45, '11/2010'),
 ('MSC SPLENDIDA', 45, '12/2015'),
 ('SOVEREIGN (SOBERANO)', 45, '03/2014'),
 ('AMSTERDAM', 48, '01/2012'),
 ('ARTANIA', 48, '01/2012'),
 ('COSTA PACIFICA', 50, '12/2016'),
 ('OCEAN PRINCESS', 50, '01/2016'),
 ('SILVER MUSE', 50, '12/2017'),
 ('EXPLORER', 54, '01/2012'),
 ('RHAPSODY OF THE SEAS', 54, '01/2016'),
 ('WORLD ODYSSEY', 54, '11/2019'),
 ('SEABOURN QUEST', 55, '11/2016'),
 ('AMERA (PRINSENDAM)', 60, '12/2012'),
 ('AZAMARA JOURNEY', 60, '02/2015'),
 ('BOUDICCA', 60, '02/2011'),
 ('CRYSTAL SYMPHONY', 60, '03/2012'),
 ('GRAND CELEBRATION', 60, '11/2012'),
 ('MSC PREZIOSA', 60, '12/2016'),
 ('PACIFIC PRINCESS', 60, '01/2013'),
 ('SAGA RUBY', 60, '03/2013'),
 ('ZAANDAM', 63, '12/2013'),
 ('CARNIVAL SPLENDOR', 65, '03/2013'),
 ('HAMBURG', 65, '12/2019'),
 ('MSC ORCHESTRA', 65, '03/2013'),
 ('SOVEREIGN (SOBERANO)', 65, '10/2015'),
 ('AZAMARA PURSUIT', 70, '03/2019'),
 ('COSTA SERENA', 70, '03/2013'),
 ('MARINA', 70, '12/2019'),
 ('AMERA (PRINSENDAM)', 75, '02/2012'),
 ('SILVER SHADOW', 75, '03/2020'),
 ('AIDA AURA', 80, '11/2019'),
 ('AZAMARA JOURNEY', 80, '02/2012'),
 ('HANSEATIC', 80, '03/2018'),
 ('MARINA', 80, '11/2014'),
 ('MSC LIRICA', 80, '11/2014'),
 ('MSC POESIA', 80, '12/2019'),
 ('NATIONAL GEOGRAPHIC ', 80, '04/2016'),
 ('PACIFIC PRINCESS', 80, '01/2012'),
 ('QUEEN VICTORIA', 80, '01/2018'),
 ('SILVER WHISPER', 80, '01/2012'),
 ('COSTA FAVOLOSA', 85, '03/2013'),
 ('AMERA (PRINSENDAM)', 90, '12/2011'),
 ('COSTA PACIFICA', 90, '11/2019'),
 ('EXPLORER', 90, '11/2014'),
 ('MAASDAM', 90, '01/2016'),
 ('SOVEREIGN (SOBERANO)', 90, '01/2013'),
 ('VISION OF THE SEAS', 90, '04/2012'),
 ('ZENITH', 90, '02/2012'),
 ('SIRENA', 93, '10/2017'),
 ('ZENITH', 95, '02/2013'),
 ('COSTA FASCINOSA', 96, '12/2012'),
 ('COSTA FASCINOSA', 100, '12/2017'),
 ('COSTA VITORIA', 100, '12/2011'),
 ('MSC MUSICA', 100, '11/2019'),
 ('VEENDAM', 100, '02/2017'),
 ('ZENITH', 100, '03/2011'),
 ('AMSTERDAM', 105, '01/2020'),
 ('AURORA', 105, '01/2018'),
 ('MSC ORCHESTRA', 105, '04/2011'),
 ('INSIGNIA', 110, '03/2011'),
 ('SOVEREIGN (SOBERANO)', 110, '11/2014'),
 ('COSTA FAVOLOSA', 120, '12/2017'),
 ('MSC DIVINA', 120, '06/2014'),
 ('PACIFIC PRINCESS', 120, '04/2019'),
 ('SOVEREIGN (SOBERANO)', 120, '12/2010'),
 ('SOVEREIGN (SOBERANO)', 120, '12/2016'),
 ('ASTOR', 125, '12/2019'),
 ('COSTA LUMINOSA', 125, '01/2017'),
 ('COSTA NEOROMANTICA', 125, '10/2013'),
 ('MARINA', 125, '12/2013'),
 ('MSC OPERA', 125, '03/2012'),
 ('NATIONAL GEOGRAPHIC ', 125, '10/2014'),
 ('SEA ADVENTURER', 125, '03/2015'),
 ('SPLENDOUR OF THE SEA', 125, '12/2013'),
 ('WORLD EXPLORER', 125, '10/2019'),
 ('MSC MAGNIFICA', 130, '03/2013'),
 ('MSC MAGNIFICA', 130, '12/2015'),
 ('MSC OPERA', 130, '12/2010'),
 ('SEABOURN QUEST', 130, '11/2017'),
 ('ASUKA II', 135, '02/2016'),
 ('EUROPA 2', 135, '02/2020'),
 ('MARCO POLO', 135, '01/2016'),
 ('VEENDAM', 135, '12/2012'),
 ('WORLD ODYSSEY', 138, '11/2015'),
 ('VEENDAM', 140, '02/2019'),
 ('AIDA CARA', 145, '03/2014'),
 ('BOUDICCA', 145, '01/2017'),
 ('CRYSTAL SYMPHONY', 145, '11/2018'),
 ('EMPRESS (IMPERATRIZ)', 145, '03/2014'),
 ('HANSEATIC', 145, '11/2015'),
 ('MARCO POLO', 150, '01/2013'),
 ('MSC FANTASIA', 150, '11/2018'),
 ('MSC MUSICA', 150, '12/2016'),
 ('SEABOURN QUEST', 150, '11/2013'),
 ('BLEU DE FRANCE', 465, '05/2011'),
 ('MSC ARMONIA', 470, '11/2015'),
 ('VISION OF THE SEAS', 470, '12/2011'),
 ('GRAND CELEBRATION', 475, '03/2011'),
 ('SPLENDOUR OF THE SEA', 485, '12/2011'),
 ('MSC ORCHESTRA', 490, '11/2010'),
 ('MSC OPERA', 495, '02/2012'),
 ('SILVER WHISPER', 500, '11/2010'),
 ('ASTOR', 508, '02/2012'),
 ('COSTA VITORIA', 520, '12/2010'),
 ('HAMBURG', 532, '11/2011'),
 ('GRAND HOLIDAY', 535, '12/2011'),
 ('INSIGNIA', 540, '12/2010'),
 ('BLACK WATCH', 545, '01/2011'),
 ('LAUSTRAL', 560, '03/2019'),
 ('GRAND CELEBRATION', 565, '11/2013'),
 ('GRAND HOLIDAY', 565, '12/2010'),
 ('MSC PREZIOSA', 565, '11/2017'),
 ('SILVER CLOUD', 585, '12/2013'),
 ('AMERA (PRINSENDAM)', 600, '01/2011'),
 ('VOYAGER', 600, '03/2013'),
 ('GRAND MISTRAL', 610, '11/2012'),
 ('CRYSTAL SYMPHONY', 615, '02/2011'),
 ('SEA PRINCESS', 635, '02/2017'),
 ('AZAMARA QUEST', 639, '12/2012'),
 ('ZENITH', 645, '12/2010'),
 ('GRAND CELEBRATION', 655, '11/2010'),
 ('INSIGNIA', 670, '03/2012'),
 ('AIDA CARA', 690, '01/2011'),
 ('BLEU DE FRANCE', 705, '11/2010'),
 ('OCEAN DREAM', 715, '01/2014'),
 ('ASUKA II', 726, '05/2012'),
 ('ALBATROS', 740, '01/2011'),
 ('MSC ARMONIA', 745, '11/2011'),
 ('VEENDAM', 750, '11/2011'),
 ('ALBATROS', 755, '10/2011'),
 ('BALMORAL', 760, '02/2018'),
 ('COSTA FORTUNA', 760, '03/2011'),
 ('AUSTRAL', 765, '04/2014'),
 ('SEABOURN ODYSSEY', 770, '02/2011'),
 ('MAASDAM', 790, '02/2013'),
 ('MSC MUSICA', 805, '03/2012'),
 ('CRYSTAL SERENITY', 830, '03/2013'),
 ('MIDNATSOL', 831, '10/2016'),
 ('SEVEN SEAS MARINER', 875, '03/2011'),
 ('OCEAN DREAM', 964, '10/2011'),
 ('SOVEREIGN (SOBERANO)', 1035, '12/2012'),
 ('ORIENT QUEEN II', 1065, '12/2013'),
 ('STAR PRINCESS', 1115, '01/2012'),
 ('SEA EXPLORER', 1230, '03/2014')]

8. Embarcações que **comecem com a letra 'A' ou 'B' que já receberam classificação, pelo menos uma vez, dos níveis B ou C e tiveram índices de conformidade menor ou igual a 95% em inspeções antes do ano em que a pandemia do COVID-19 chegou ao Brasil (2020)?**

[Voltar ao início](#indice)

In [53]:
%%sql

SELECT 
    nome_navio AS 'Nome do Navio',
    mes_ano AS 'Data da Inspeção',
    classificacao_risco AS 'Classificação de Risco',
    indice_conformidade AS 'Ìndice de Conformidade',
    temporada AS Temporada
FROM
    tb_navios
WHERE
    (classificacao_risco = 'B'
        OR classificacao_risco = 'C')
        AND indice_conformidade <= 95
        AND mes_ano < '01/2020'
        AND (nome_navio LIKE 'A%'
        OR nome_navio LIKE 'B%')
ORDER BY mes_ano , indice_conformidade , nome_navio;

 * sqlite+pysqlite:///anvisa.db
Done.

[('AURORA', '01/2011', 'C', '86,95', 'Programa de Inspecao Navios de Cruzeiro 2010/2011 - Janeiro 2011'),
 ('BLACK WATCH', '01/2014', 'C', '91,84', 'Programa de Inspecao Navios de Cruzeiro 2013/2014 - Janeiro 2014'),
 ('ARCADIA', '01/2016', 'B', '94,00', 'Programa de Inspecao Navios de Cruzeiro 2015/2016 - Janeiro 2016')]

In [52]:
#Fecha conexão com o banco anvisa.db

conexao.close()